<section class='dashboard'>
  <h2>Hello <fb:name uid='<%= current_user.identifier %>' useyou='false'></fb:name>!</h2>
  <article>
    <h3><%= link_to 'Profile Details', profile_path %></h3>
    <p>User profile.</p>
  </article>
  
</nav>
